body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.contain {
  height: 100vh;

}
.flex-cl {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #7dbcea;
  align-items: center;
  padding: 0 40px;
}
.header_title {
  font-size: 20px;
  color: #fff;
}

.login_user {
  font-size: 14px;
  color: #fff;
}